@charset "UTF-8";
/* CSS Document */
header {
	background-color: violet;
	color: ivory;
	letter-spacing: 6px;
	text-indent: 25px; 
	font-family: helvetica;
	font-weight: normal;

	
	}
body {
	font-family: "Times New Roman", Times, serif;
	font-style: strong;
	color: darkgrey;
	background-color: white;
	padding: 25px 50px;
	text-align: left;
	

}	
	
div {
	margin: 25px 50px 75px 50px;
	}
	
	h2 {
		font-size: 16px;
		text-align: right;
		text-transform: uppercase;
		}
li {
	line-height: 25px;	
	text-align: justify;
	}		
